<h1>New Song</h1>
<form action="/songs" method="POST">

<label for="Name"> Song name: </label>
<input type="text" id="Name" name="name">

<label for="Artist Name"> Artist name: </label>
<input type="text" id="Artist Name" name="artist_name">

<label for="Genre"> Genre: </label>
<input type="text" id="Genre" name="genres[]">
<% @genres.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input><br>
<% end %>
<br>

<input type="submit" id="Create" value="Create song">
</form>
